.piedep{
    width: 100%;
    background-color: rgb(234, 202, 255);  
    text-align: center;
    padding: 5px;
    position:static;
    margin-top: auto;
    >.redes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;
     } 

}