.headerIndex{
    width: 100%;
    height: 300px;
    background-image: url(../../assets/img/olas.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
     }
.headerIndex_info{
    color:rgb(3, 3, 3)
                 }
            