@import "reset";
@import "fonts";
@import "nav";
@import "productos";
@import "header";
@import "footer";
@import "extend";
    

    .tituloprincipal{
        padding: 15px;
        margin: 7px;
        
    }
    .titulosec{
        padding: 2px;
        margin: 15px 20px 15px 20px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .piedep{
        width: 100%;
        background-color: rgb(234, 202, 255);  
        text-align: center;
        padding: 5px;
        position:static;
        margin-top: auto;
        
    
    }
    .parraf{
        font-size: 18px;
        font-weight: 800;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
    }
    
    .mail{
        margin: 15px;
        padding: 10px;
        
    }
     
    .inicio{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;  
    }
    .inicio img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        justify-content: end;
    }
    
    
    .fondogrid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 80px 300px 1fr 100px;
        grid-template-areas: "nav nav nav nav"
                            "header header header header"
                            "main   main   main   main"
                            "footer footer footer footer";
        font-family: 'Source Sans Pro', sans-serif;
        min-height: 100%;
    }
    nav{
        grid-area: nav;
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
    aside{
        grid-area: aside;
    }
    
    
    
    .formulario{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr 60px;
       grid-template-areas: "titulo titulo"
                            "nombyap mail"
                            "tel    usuario"
                            "contra  contra"
                             "btn     btn";
        background-color:rgb(242, 223, 197);
        padding: 30px;
        max-width: 800px;
        margin: 20px auto;
        gap:10px;
        border-radius: 10px;
        
    }
    .formulario h2:nth-child(1){
        grid-area: titulo;
    }
    .formulario label:nth-child(2){
        grid-area: nombyap;
    }
    .formulario label:nth-child(3){
        grid-area: mail;
    }
    .formulario label:nth-child(4){
        grid-area: tel;
    }
    .formulario label:nth-child(5){
        grid-area: usuario;
    }
    .formulario label:nth-child(6){
        grid-area: contra;
    }
    .formulario label:nth-child(7){
        grid-area: btn;
    }
    .formulario > label{
        display: flex;
        flex-direction: column;
        
    }
    .formulario > label > input{
        background-color: transparent;
    }
    .btn{
        padding: 5px;
        border-radius: 6px;
        background-color: darkseagreen;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    @media(max-width:600px){
        .formulario_inicio{
         flex-direction: column;
         
        }
    }
    .formulario_inicio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    
    }
    
    
    @media(max-width:600px){
        .barranav .fa-bars{
            display: block;
            color: white;
            font-size: 30px;
           position: fixed;
            
        }
           
        }
    
        
        .contacta{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
        }
        .contacta__img{
            display: flex;
            width: 200px;
            height: 100px;
            object-fit: cover;
            justify-content: start;
        }
        .gradient{
            background: rgb(0,18,36);
    background: linear-gradient(90deg, rgba(0,18,36,1) 0%, rgba(178,190,209,1) 19%, rgba(168,201,193,1) 35%, rgba(164,127,208,1) 51%, rgba(139,120,138,1) 65%, rgba(206,213,236,1) 80%, rgba(178,223,232,1) 100%);
        }       
            
     html{
        height: 100%;
     }